.Header {
  z-index: 1000;
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
}

.Header-title {
  font-family: 'GraphikBold';
}

.Header-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Header-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-transform: uppercase;
  color: #d8e0e8;
}
