.Header {
  z-index: 1000;
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
}

.Header-title {
  font-family: 'GraphikBold';
}

.Header-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Header-list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  text-transform: uppercase;
  color: #d8e0e8;
}

.Header-list > li {
  display: flex;
}

.Header-list > :not(.Header-loadingUser):hover {
  color: #fff;
}

.Header-userContainer {
  position: relative;
}

.Header-user {
  display: flex;
  align-items: center;
}

.Header-avatar {
  margin-right: 5px;
  transform: translateY(-1px);
  box-sizing: border-box;
  height: 24px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  border-radius: 50%;
  aspect-ratio: 1;
}

.Header-dropdownIcon {
  height: 24px;
  /* color: #d8e0e8; */
  filter: invert(96%) sepia(3%) saturate(803%) hue-rotate(178deg)
    brightness(91%) contrast(101%);
}

.Header-dropdown {
  display: none;
  position: absolute;
  top: 0;
  padding: 10px 0 6px;
  transform: translate(-10px, -10px);
  min-width: 100px;
  background-color: #89a;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35), 0 0 10px #000;
}

.Header-userContainer:hover .Header-dropdown {
  display: flex;
  flex-direction: column;
}

.Header-dropdownUser {
  padding-left: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  pointer-events: none;
}

.Header-dropdownEntry {
  padding: 6px 12px;
  font-family: GraphikRegular;
  font-size: 0.8rem;
  text-transform: none;
  color: #2c3440;
}

.Header-dropdownEntry:hover {
  background-color: #678;
  color: #fff;
}

.Header-dropdownDivider {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 6px;
  margin-bottom: 6px;
}

.Header-members {
  cursor: not-allowed;
}
