@font-face {
  font-family: 'GraphikRegular';
  src: url(./fonts/GraphikRegular.woff) format('woff');
}

@font-face {
  font-family: 'GraphikMedium';
  src: url(./fonts/GraphikMedium.woff) format('woff');
}

@font-face {
  font-family: 'GraphikSemibold';
  src: url(./fonts/GraphikSemibold.woff) format('woff');
}

@font-face {
  font-family: 'GraphikBold';
  src: url(./fonts/GraphikBold.woff) format('woff');
}

@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url(./fonts/PlayfairDisplayBold.woff) format('woff');
}

@font-face {
  font-family: 'PlayfairDisplayExtraBold';
  src: url(./fonts/PlayfairDisplayExtraBold.woff) format('woff');
}

:root {
  font-family: 'GraphikMedium', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #14181c;
}
